{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteAllowShorthand": true,
  "plugins": ["prettier-plugin-svelte"]
}
