@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    @apply text-primaryWhite;
}

/* Custom Gradient Background */
.gradient-bg {
    background: linear-gradient(270deg, #013D5A, #263fa1, #1f8c8e);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}